---
import ExperienceArticle from "@/components/ExperienceArticle.astro";
import { default as strings } from "@/locales/en.json";
---

<section id="experience">
  <h2>{strings.experience.title}</h2>

  <div class="container">
    <div class="experience--section">
      {
        strings.experience.professional.map((experience) => (
          <ExperienceArticle
            institution={experience.institution}
            role={experience.role}
            endYear={experience.endYear}
            startYear={experience.startYear}
            bulletPoints={experience.bulletPoints}
          />
        ))
      }
    </div>
    <div class="experience--section">
      {
        strings.experience.educational.map((experience) => (
          <ExperienceArticle
            institution={experience.institution}
            role={experience.role}
            endYear={experience.endYear}
            startYear={experience.startYear}
            bulletPoints={experience.bulletPoints}
          />
        ))
      }
    </div>
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    margin-top: 2rem;
    justify-content: space-between;
    @media (max-width: 601px) {
      flex-direction: column;
      gap: 4rem;
    }
  }

  .experience--section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
</style>
