---
import image from "@/assets/images/profile-desktop.webp";
import imageIcon from "@/assets/images/profile-mobile.webp";
import { Image } from "astro:assets";
import Button from "@/components/Button.astro";
import { default as strings } from "@/locales/en.json";
---

<section class="hero" id="about">
  <article class="hero--text">
    <div class="hero--title-container">
      <Image
        loading="eager"
        class:list={["hero--image", "hero--image-icon"]}
        src={imageIcon}
        alt="Profile picture of Bryan Martinez"
        width={100}
        height={100}
      />
      <h1 set:html={strings.hero.title} />
    </div>
    <div class="hero--description-container">
      {
        strings.hero.descriptions.map((description) => (
          <p set:html={description} />
        ))
      }
    </div>
    <div class="buttons--container">
      <Button
        text={strings.hero.buttons.linkedin}
        onPress="https://www.linkedin.com/in/thebryanmartinez/"
        type="primary"
      />
      <Button text={strings.hero.buttons.resume} onPress="" type="secondary" />
    </div>
  </article>
  <div class="hero--image-container">
    <Image
      loading="eager"
      class="hero--image"
      src={image}
      alt="Profile picture of Bryan Martinez"
      width={400}
      height={480}
    />
  </div>
</section>

<style>
  .hero {
    width: "100%";
    display: flex;
    flex-direction: row;
    gap: 8rem;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .hero--description-container {
    display: grid;
    gap: 1rem;
  }

  .hero--text {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 2rem;
  }

  .hero--image {
    flex: 1;
    object-fit: cover;
    border-radius: 20px;
  }

  .buttons--container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .hero--image-container {
    display: flex;
    align-items: center;

    @media (max-width: 899px) {
      flex-direction: column;
      display: none;
    }
  }

  .hero--image-icon {
    border-radius: 100%;
    flex-basis: 0;

    @media (min-width: 900px) {
      display: none;
    }
  }
</style>

<script>
  import { annotate } from "rough-notation";
  import { showAnnotations } from "@/utils/roughNotation";

  document.addEventListener("DOMContentLoaded", () => {
    const highlights = document.querySelectorAll("#highlight");
    const nodes = Array.from(highlights);

    const hireMeCircle = annotate(document.querySelector("#circle"), {
      type: "circle",
      color: "var(--pink-pastel)",
    });

    showAnnotations(nodes, "highlight", [hireMeCircle]);
  });
</script>
