---
import Project from "@/components/Project.astro";
import TodoListImage from "@/assets/images/todo-list-project.webp";
import BlackjackImage from "@/assets/images/blackjack-game-project.webp";
import { default as strings } from "@/locales/en.json";
---

<section id="projects">
  <h2>{strings.projects.title}</h2>
  <h3 class="subtitle">{strings.projects.subtitle}</h3>

  <div class="container">
    <div class="projects--section">
      <Project
        title={strings.projects.projects[0].title}
        image={TodoListImage}
        imageAlt={strings.projects.projects[0].imageAlt}
        description={strings.projects.projects[0].description}
        tags={[
          {
            text: strings.projects.projects[0].tags.react,
            backgroundColor: "blue",
          },
          {
            text: strings.projects.projects[0].tags.tailwind,
            backgroundColor: "pink",
          },
          {
            text: strings.projects.projects[0].tags.indexedDB,
            backgroundColor: "yellow",
          },
        ]}
        projectHref={strings.projects.projects[0].projectHref}
      />
      <Project
        title={strings.projects.projects[1].title}
        image={BlackjackImage}
        imageAlt={strings.projects.projects[1].imageAlt}
        description={strings.projects.projects[1].description}
        tags={[
          {
            text: strings.projects.projects[1].tags.react,
            backgroundColor: "blue",
          },
          {
            text: strings.projects.projects[1].tags.tailwind,
            backgroundColor: "pink",
          },
          {
            text: strings.projects.projects[1].tags.localization,
            backgroundColor: "blue",
          },
          {
            text: strings.projects.projects[1].tags.api,
            backgroundColor: "yellow",
          },
        ]}
        projectHref={strings.projects.projects[1].projectHref}
      />
    </div>
  </div>
</section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    margin-top: 2rem;
    justify-content: space-between;

    @media (max-width: 601px) {
      flex-direction: column;
      gap: 4rem;
    }
  }

  .subtitle {
    color: var(--heading);
    font-size: 18px;
    font-weight: 500;
  }

  .projects--section {
    display: flex;
    flex-direction: row;
    gap: 4rem;

    @media (max-width: 601px) {
      flex-direction: column;
    }
  }
</style>

<script>
  import { showAnnotations } from "@/utils/roughNotation";

  document.addEventListener("DOMContentLoaded", () => {
    const projectsSection = document.querySelector("#projects");
    const highlights = projectsSection.querySelectorAll("#highlight");
    const nodes = Array.from(highlights);

    showAnnotations(nodes, "highlight");
  });
</script>
