---
interface Props {
  institution: string;
  role: string;
  description: string;
  startYear: string;
  endYear: string;
}

const { institution, role, description, startYear, endYear } = Astro.props;
---

<article>
  <div class="experience--header">
    <h3>{institution}</h3>
    <p>{startYear} - {endYear}</p>
  </div>
  <h4 class="experience--role">{role}</h4>
  <p>{description}</p>
</article>

<style>
  .experience--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .experience--role {
    margin-bottom: 1rem;
  }
</style>
