---
interface Props {
  institution: string;
  role: string;
  bulletPoints: string[];
  startYear: string;
  endYear: string;
}

const { institution, role, bulletPoints, startYear, endYear } = Astro.props;
---

<article>
  <div class="experience--header">
    <h3>{institution}</h3>
    <p set:html={`${startYear} - ${endYear}`} />
  </div>
  <h4 set:html={role} class="experience--role" />
  <ul>
    {bulletPoints.map((bulletPoint) => <li>{bulletPoint}</li>)}
  </ul>
</article>

<style>
  .experience--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .experience--role {
    margin-bottom: 1rem;
  }
</style>

<script>
  import { showAnnotations } from "@/utils/roughNotation";

  document.addEventListener("DOMContentLoaded", () => {
    const underline = document.querySelectorAll("#underline");
    const nodes = Array.from(underline);

    showAnnotations(nodes, "underline");
  });
</script>
