---
import { default as strings } from "@/locales/en.json";
---

<header class="header">
  <nav class="navigation">
    <p class="navigation--title">{strings.header.title}</p>
    <ul class="navigation--links">
      <li class="links--link">
        <a class="link-tag" href="#about">{strings.header.navigation.about}</a>
      </li>
      <li class="links--link">
        <a class="link-tag" href="#experience"
          >{strings.header.navigation.experience}</a
        >
      </li>
      <li class="links--link">
        <a class="link-tag" href="#projects"
          >{strings.header.navigation.projects}</a
        >
      </li>
      <li class="links--link">
        <a class="link-tag" href="#contact-me"
          >{strings.header.navigation.contact}</a
        >
      </li>
    </ul>
  </nav>
</header>

<style>
  .header {
    padding: 1rem 0px;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navigation--links {
    display: none;
    flex-direction: row;
    gap: 3rem;
  }

  .links--link {
    list-style: none;
    text-decoration: none;
  }

  .link-tag {
    text-decoration: none;
    color: var(--heading);
    font-weight: 600;

    &:hover {
      color: var(--text);
    }
  }

  .link-tag:visited {
    text-decoration: none;
    color: var(--text);
  }

  @media (min-width: 601px) {
    .navigation--links {
      display: flex;
    }
  }
</style>
